.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}
.tableInside{
  border: 1px solid black;
}

.tableOutside{
  border: 1px solid black;
  width: 100px;
  height:100px
}
